<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>MyCalendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
    <style>
        .background {
            width: 100%;
            left: 15%;
            height: auto;
            overflow-x: hidden;
            poisition:absolute;
        }
        .fixed-bottom-bar {
            position: fixed;
            bottom:0;
            left:0;
            height: 70px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    <img class="background" src="images/EventPage.png">


    <form action="event" method="POST">
        <button style="position:absolute;background-color:transparent; border:none; left:185px; top:480px; 
        width:40px; height: 40px;"></button>
        <button style="position:absolute; background-color:transparent; border:none; left:145px; top:530px; 
        width:130px; height: 15px;"></button>
    </form>

    <% if (isAdded == true){ %>
        <img style="position:absolute;left:180px;top:490px; width:45px; height:40px" src="images/added.png">
    <% } %>

    <%- include("footer") -%>
</body>
</html>