<footer class="fixed-bottom-bar">
    <form action="/gotoHome" method="POST">
        <button  type="submit" style="border: none; background-color: transparent;
            position:absolute; left:20px; top: 20px; font-size:25px">  
             </button>
    </form>   

    <form action="/gotoExplore" method="POST">
        <button  type="submit" style="border: none; background-color: transparent;
            position:absolute; left:120px;top: 20px; font-size:25px">  
             </button>
    </form>

    <form action="/gotoAdd" method="POST">
        <button  type="submit" style="border: none; background-color: transparent;
            position:absolute; left:220px;top: 20px; font-size:25px">  
             </button>
    </form>

    <form action="/gotoMyC" method="POST">
        <button  type="submit" style="border: none; background-color: transparent;
            position:absolute; left:320px;top: 20px; font-size:25px">  
             </button>
    </form>

    <img class="background" src="images/Footer.png">
</footer>