<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>MyCalendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
    <style>
         .background {
            width: 400px;
            left: 15%;
            height: auto;
            overflow-x: hidden;
        }
        .fixed-bottom-bar {
            position: fixed;
            bottom:0;
            left:0;
            height: 70px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .dropdown {
            position: absolute;
            display: inline-block;
        }
        .dropbtn {
            background-color: #090909;
            padding: 10px;
            border: none;
            cursor: pointer;
            border-radius: 50%;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 0;
            top:150%;
        }
        .dropdown-content a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #090909;
        }
        .dropdown:hover .dropdown-content .dropdown-content2 {
            display: block;
        }
        .dropdown-content2 {
            display: none;
            position: absolute;
            background-color: #fff;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 0;
            top:150%;
        }
        .dropdown-content2 a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #090909;
        }
        
    </style>
</head>
<body>
    <img class="background" src="images/MyCalendarPage.png">

    <div class="dropdown" style="left: 305px; top:35px">
        <button class="dropbtn" onclick="toggleDropdown2()"></button>
        <div class="dropdown-content2">
          <a href="#"> <b>Empty for now</b></a>
        </div>
      </div>   

    <div class="dropdown" style="left: 355px; top:30px">
        <button class="dropbtn" onclick="toggleDropdown()"></button>
        <div class="dropdown-content">
          <a href="#"> <b>My Page</b></a>
          <a href="#"><b>Messages</b></a>
          <a href="#"><b>Settings</b></a>
        </div>
      </div>      
      <script>
        /* Same CSS styles as before */
        function toggleDropdown() {
            var dropdownContent = document.querySelector(".dropdown-content");
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        }
        function toggleDropdown2() {
            var dropdownContent = document.querySelector(".dropdown-content2");
            dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
        }
      </script>



    <form id="searchBox" action="/myC" method="POST">
        <input type="text" id="myInput" name="search" 
            style="position:absolute; left:150px;top:95px; border:none; outline: none; font-size:15px;">
    </form>
    <script>
        var input = document.getElementById("myInput");
        var form = document.getElementById("searchBox");

        function checkInput(event) {
            if (event.inputType === "insertLineBreak") {
                form.submit()
            }
        }
    </script>

    
    <div class="box" style="position:absolute; left:30px; top:115px; display: flex; flex-direction: row;">
        <% for(let i = 0;i < newListItems.length;i ++){ %>
            <p style="background-color: #7AFFD7; margin-right: 5px;"> <%= newListItems[i] %> </p>
        <% } %>
    </div>


    <form action="/gotoDay" method="POST">

        <div style="position:absolute; left:143px;top:423px;display: flex;  flex-direction: row; "> 
        <% for(let i = 0;i < newListItems.length;i ++){  %>
            <div style=" background-color: rgba(255, 171, 114, 0.3); 
             border-radius: 50%; width: 30px; height: 30px; margin-right: 27px;"> </div>
        <% } %>
        </div>

        <div style="position:absolute; left:143px;top:423px;display: flex;  flex-direction: row; "> 
            <% for(let i = 0;i < newListItems.length;i ++){  %>
                <button  type="submit" style="border:none;background-color: transparent;
                 width: 5px;margin-right: 30px;"></button>  </button>
            <% } %>
            </div>

        <% if (isAdded == true){ %>
            <img style="position:absolute;left:240px;top:490px; width:45px; height:40px" src="images/addedDay.png">

            <button type="submit" style="position:absolute; border:none; background-color: transparent; left:240px;top:490px; 
                 width:40px; height: 40px;"></button>  </button>
        <% } %>

    </form>
      
        
    <%- include("partials/footer") -%>
</body>
</html>